/api/v1/auth/login:
  post:
    summary: Login as a company
    tags:
      - AUTH
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
                example: admin@diplodev.com
              password:
                type: string
                example: "DiploAut05022007**##"
    responses:
      '200':
        description: Login successful
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
                token:
                  type: string
      '400':
        description: Missing fields
      '401':
        description: Invalid email or password
      '500':
        description: Internal server error
